@use "base";
@use "helpers";
body {
  @include helpers.body_bg;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  position: absolute;
  box-shadow: 0.938rem 0.625rem #00000036;
  width: 25rem;
  height: 37.5rem;
  border-radius: 1.875rem 1.875rem 1.563rem 1.563rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(225deg, #edecea, #dadada);
  background: linear-gradient(45deg, #000000, #222222, #333333);
}
.header {
  width: 100%;
  border-radius: 1.563rem 1.563rem 0 0;
  padding-bottom: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  .dot {
    @include helpers.body_bg;
    position: relative;
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;
    left: 1.25rem;
    top: 1.25rem;
  }
}
.main {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  button:not(.name) {
    span {
      font-size: 1em;
    }
  }
  .name {
    display: flex;
    span {
      font-size: 2.5em;
      text-align: start;
    }
  }
  button {
    margin-left: 0.625em;
    background-color: #00000000;
    border: none;
    position: relative;
    left: 0rem;
    transition: left 200ms ease-in-out;
    &:hover {
      left: 0.625rem;
      cursor: pointer;
    }
  }
}
.footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: end;
  justify-content: center;
  button {
    height: 90%;
    aspect-ratio: 1/1;
    background-color: #00000000;
    border: none;
    svg {
      width: 100%;
      height: 100%;
      transition: transform 100ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: rotate(15deg);
      }
    }
  }
}
.animation {
  animation: move 2s linear forwards;
}
@media (width <= 25rem) {
  .card {
    width: 100%;
  }
  .return,
  .notification {
    display: none;
  }
}
