@use "base";
@use "helpers";
* {
  color: #fafafa;
}
body {
  @include helpers.body_bg;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
h1 {
  font-size: 10vw;
}
